*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --index: calc(1vw + 1vh)
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.inner__container{
  width: 100%;
  height: 100%;
}

.content__container{
  width: 50%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(252, 80, 255, 0.146) 0%, rgba(168, 168, 168, 0.137) 100%);
}

.background{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.background__container {
  background-image: url(./images/form-img4.jpg);
  width: 65%;
  height: 100%;
  background-size: cover;
  background-position: top;
  
}

.form{
  width: 100%;
  height: 100%;
}

.form__container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__title{
  font-size: calc(var(--index) * 3.8);
  font-weight: 800;
  text-shadow: 0 0 5px #ff50d9;
}

.form__caption{
  margin: 5vh 10vh 4vh 10vh;
  text-align: center;
  font-size: calc(var(--index) * .7);
  font-weight: 500;

}

.sign-up__form{
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  width: 54%;
}

.sign-up__form input {
  font-size: calc(var(--index) * .9);
  outline-color: #fff;
  border: 2.5px solid #fff;
  background: none;
  color: #fff;
  padding: 12px 20px;
  font-weight: 500;
}

.form__navigation{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2vh;
}

.sign-up__button{
  padding: 7px 14px;
  color: #fff;
  font-size: calc(var(--index) * .8);
  font-weight: 600;
  background-color: #ff50d9;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}

.sign-up__button:hover{
  background-color: #fff;
  color: #ff50d9;
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}

.sign-in__button{
  text-decoration: none;
  color: #fff;
  font-size: calc(var(--index) * .8);
  font-weight: 600;
  cursor: pointer;
}

.sign-in__button:hover{
  text-decoration: underline;
}